package template


templ ViewSigninTemplate() {
  <div>
    <form action="/login" method="POST">
      <div><input type="text" name="username" placeholder="Username.." required></div> 
      <div><input type="password" name="master" placeholder="Master Password.." required></div> 
      <div><button type="submit" name="signin" value="signin">Sign In</button></div> 
    </form>
  </div>
}
